*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f4f6f9;
    color:#1f2937;
    line-height:1.7;
}

/* HERO */

.hero{
    background:linear-gradient(135deg,#003366,#0055a5);
    color:white;
    text-align:center;
    padding:90px 10%;
}

.tag{
    display:inline-block;
    background:#ffcc00;
    color:#003366;
    font-weight:600;
    padding:8px 18px;
    border-radius:30px;
    margin-bottom:20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:10px;
}

.hero h2{
    font-size:1.4rem;
    font-weight:400;
    margin-bottom:25px;
}

.hero p{
    max-width:800px;
    margin:auto;
}

/* SECTIONS */

.section{
    padding:70px 10%;
}

.section-title{
    text-align:center;
    color:#003366;
    margin-bottom:40px;
    font-size:2.2rem;
    position:relative;
}

.section-title::after{
    content:"";
    width:80px;
    height:4px;
    background:#ffcc00;
    display:block;
    margin:10px auto;
    border-radius:10px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:all .3s ease;
    border-top:5px solid #0055a5;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

.card h3{
    color:#003366;
    margin-bottom:12px;
}

.card p{
    font-size:.95rem;
}

/* FACTS */

.facts{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.fact{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.fact:hover{
    transform:scale(1.05);
}

.fact h3{
    color:#003366;
    margin-bottom:10px;
}

.fact p{
    color:#ff9900;
    font-weight:700;
    font-size:1.2rem;
}

/* FOOTER */

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero{
        padding:70px 8%;
    }

    .hero h1{
        font-size:2.8rem;
    }

    .hero h2{
        font-size:1.1rem;
    }

    .section{
        padding:50px 8%;
    }

    .section-title{
        font-size:1.8rem;
    }

}

@media(max-width:480px){

    .hero h1{
        font-size:2.2rem;
    }

    .hero h2{
        font-size:1rem;
    }

    .card{
        padding:20px;
    }

}
